<hr>
<br>
<center><h3>Weather Report of Chennai</h3></center>
<br>
<hr>
<table class="table" bgcolor="#e8f7ff">
  <thead>
    <tr>
      <th>Day</th>
      <th>HighTemperature</th>
      <th>LowTemperature</th>
      <th>Summary</th>
    </tr>
  </thead>
  <tbody>
    {{#each weatherReport}}
    <tr>
      <th>{{dateFormatter this.time}}</th>
      <td>{{this.temperatureHigh}}</td>
      <td>{{this.temperatureLow}}</td>
      <td>{{this.summary}}</td>
    </tr>
    {{/each}}
  </tbody>
</table>